/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Didot';
}

body {
    
    height: 100vh;
    scroll-behavior: smooth;
    background: #ECECEC;
}

.page-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

/* Buttons */
.button-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    background: rgba(255, 255, 255, 0.9);
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.info-button {
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 10px 15px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background 0.3s;
}

.info-button:hover {
    background-color: lightgrey;
}

/* Welcome page section */
.welcome-page {
    height: calc(100vh - 80px);
    margin-top: 100px;
    background: url('welcome-web-version.png') no-repeat left center;
    background-size: contain;
    scroll-snap-align: start;
    background-color: #ECECEC;
}

/* Příjezdové informace section */
.arrival-section {
    scroll-snap-align: start;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    background-color: #ECECEC;
    color: black;
    padding-top: 140px;
}

.arrival-section h2 {
    font-family: 'Didot', serif;
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  
  .map-container {
    position: relative;
    width: 100%;
    height: 700px;
    
  }
  
  .map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

/* Button styling */
.directions-button {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.1); 
    color: #333;
    padding: 15px 20px;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    display: inline-block;
    text-align: center;
    border-radius: 5px; 
}

.directions-button:hover {
    background-color: #d0d0d0;
    color: black;
}


/* Program section */
.program-section {
    scroll-snap-align: start;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    padding: 20px;
    background: #ECECEC;
    color: black;
    padding-top: 120px;
}

.program-section h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.program-box {
    background-color: #fbfcfc;
    padding: 40px 30px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

.program-box .event {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    font-size: 20px;
    align-items: baseline;
    margin-bottom: 12px;
    border-bottom: 1px solid transparent;
}

.program-box .time {
    font-weight: 550;
    width: 100px;
    font-size: 30px;
    font-family: 'Lora', serif;
    text-align: left;
}

.program-box .title {
    font-weight: 300;
    width: 80px;
    font-size: 30px;
    flex: 1;
    font-family: 'Cormorant Garamond', serif;
    text-align: right;
}


/* FAQ section */
.faq-section {
    scroll-snap-align: start;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: #ECECEC;
    color: black;
    padding-top: 120px;
}

.faq-section h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.faq-section h2 {
    font-size: 30px;
}

.faq-section p {
    font-size: 20px;
    max-width: 800px;
    margin-bottom: 25px;
    text-align: center;
}

/* Questionnaire section */
.info-section {
    scroll-snap-align: start;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    background: #ECECEC;
    color: black;
    padding-top: 120px;
}

.info-section iframe {
    flex: 1;
    width: 100%;
    height: 100%;
    border: none;
    overflow: auto;
}

.color-palette {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 40px 0;
}

.color-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #333;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    cursor: default;
}

/* Responsive adjustments */
@media (max-width: 400px) {
    
    .welcome-page {
        height: calc(100vh);
        background: url('welcome-phone-version.png') no-repeat center;
        scroll-snap-align: start;
        background-size: cover; 
        background-color: #ECECEC;
    }

    .button-container {
        flex-wrap: wrap;
    }

    .info-section, .program-section, .arrival-section{
        padding-top: 180px;
    }

    .program-box .time {
        font-weight: 550;
        width: 100px;
        font-size: 23px;
        font-family: 'Lora', serif;
        text-align: left;
    }
    
    .program-box .title {
        font-weight: 300;
        width: 80px;
        font-size: 23px;
        flex: 1;
        font-family: 'Cormorant Garamond', serif;
        text-align: right;
    }

    
    .map-container {
        height: 300px;
    }

    .directions-button {
        font-size: 20px;
        padding: 12px 18px;
    }
}
